@import "../../../../../../../styles/variables";



.page-about {
  
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  
  
  
  .stat-container {
    margin-bottom: 30px;

    .stat-item {
      margin-bottom: 20px;
      border-bottom: 2px solid $page-bg;
    }

    .stat-num {
      display: block;
      color: $primary;
      font-size: 60px;
      font-weight: $font-weight-light;
      line-height: 66px;
    }

    .stat-desc {
      display: inline-block;
      margin-bottom: -2px;
      padding-bottom: 20px;
      border-bottom: 2px solid $primary;
      font-size: 20px;
      line-height: 22px;
      font-weight: $font-weight-500;
    }
  }

  .article {
    &:nth-of-type(1) {
      padding-top: 75px;
    }
  }

  .section-culture {
    .section-title {
      font-size: 1.25rem;
      margin-bottom: 3rem;
    }

    .space-bar {
      padding: 3px;
      border-radius: $border-radius;
      margin-right: 5px;
    }
  }
}