@import "../../../../../styles/variables";

.page-dashboard {
 
  %visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
  }
  
  .star-rating {
  
    &__star {
      display: inline-block;
      padding: 3px;
      vertical-align: middle;
      line-height: 1;
      font-size: 1.5em;
      color: #ABABAB;
      transition: color .2s ease-out;
  
      &:hover {
        cursor: pointer;
      }
      
      &.is-selected {
        color: #FFD700;
      }
      
      &.is-disabled:hover {
        cursor: default;
      }
    }
  
    &__checkbox {
      @extend %visually-hidden;
    }
  }
 
 
 
  .metrics {
    margin-top: 0px;

    .metric-box {
      margin-bottom: 30px;
    }

    .metric {
      display: block;
      margin-bottom: 0px;
      text-transform: uppercase;
      font-size: 15px;
      color: #0088bb;
    }

    .metric-info {
      text-transform: uppercase;
      font-size: 12 px;
      color: #353839;
    }

    .duration {
      font-size: 12 px;
      color: #353839;

    }
    .price {
      font-size: 12 px;
      color: #353839;

    }


    .percentage {
      font-size: 12 px;
      color: #353839;

    }

    .call {
      font-size: 12 px;
      color: #353839;

    }


  }


  .comments {
    margin-top: 20px;
    color: #000;

    .comment-area {
      margin-top: 20px;
      margin-bottom: 0px;
      color: #353839;
    }

    .comment-box {
      margin-top: 20px;
      display: block;
      margin-bottom: 0px;
      font-size: 18px;
      color: #353839;
      
      
    }

    .comment-label {
      margin-top: 20px;
      margin-bottom: 0px;
      font-size: 14px;
      color: #353839;
    }

    .center-block {
      display: block;
      margin-right: 5px;
      margin-left: 5px;
      color: #353839;
    }
  

  }


  


  .box {
    position: relative;
    border-radius: $border-radius-lg;
    

    * {
        -webkit-backface-visibility: hidden;
    }

    .box-top,
    .box-bottom {
      height: 60px;
      padding: 32px 15px;
      font-size: 40px;
      line-height: 40px;
      text-align: center;
      font-weight: $display1-weight;
      .size-h5 {
        font-size: 24px;
        margin-left: 2px;
      }
      .material-icons {
        font-size: 40px;
        line-height: 40px;
      }
    }

    .box-bottom {
      border-top: 1px solid rgba(0,0,0,.15);
      @media only screen and (min-width: map-get($grid-breakpoints, md)) {
        padding-left: 15%;
        padding-right: 15%;
      }
    }

    .box-info {
      position: absolute;
      width: 100%;
      top: 50%;
      margin-top: -12px;
      text-align: center;

      span {
        height: 24px;
        display: inline-block;
        padding: 4px 10px;
        text-transform: uppercase;
        line-height: 14px;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.15);
        font-size: 12px;
        color: $text-muted;
        border-radius: 1em;
        .material-icons {
          line-height: 14px;
          font-size: 11px;
        }
      }
    }
  }
}

// Dark theme
// --------------------------------------------------
.theme-gray,
.theme-dark {
  .box-info {
    .box-icon {
      .material-icons {
        color: rgba($theme_dark_text_color, .54);
      }
    }
    .box-num {
      color: rgba($theme_dark_text_color, .54);
    }
  }
}

.theme-gray {
  .page-dashboard {
    .box {
      .box-info {
        span {
          background-color: $theme_gray_page_bg;
        }
      }
    }
  }
}
.theme-dark {
  .page-dashboard {
    .box {
      .box-info {
        span {
          background-color: $theme_dark_page_bg;
        }
      }
    }
  }
}



 /* Style the button that is used to open and close the collapsible content */
 .collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;

}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
} 

label,
textarea {
    
    font-size: .8rem;
    letter-spacing: 1px;
    //color: #aaa;
    color: #353839;
}
textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    //color: #aaa;
    color: #353839;
    border: 1px solid #aaa;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;
}
